nav {
  display: flex;
  height: 56px;
  background: #3f51b5;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

a, button, span {
  color: white;
}

span{
  font-size: 14px;
}

ul {
  margin: auto;
  display: flex;
  list-style-type: none;
}

.home {
  margin-right: 80px;
}
