@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

.listItem {
  //width: 25%;
  //margin: 20px auto 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-gap: 20px;
  cursor: pointer;
}

.listItem:hover {
  background-color: rgba($color: black, $alpha: 0.05);
}

h1 {
  font-size: 1.6rem;
  color: rgba($color: black, $alpha: 0.7);
}

p,
h1 {
  margin-bottom: 5px;
}

p,
.icons {
  font-size: 0.7rem;
}

p {
  color: rgba($color: black, $alpha: 0.65);
}

.moreIcon {
  color: rgba($color: black, $alpha: 0.3);
}

::ng-deep .red-snackbar {
  background-color: #ff4444;
  color: white;
}

.moreIcon {
  @include md-icon-size(40px);
}

[mat-icon-button] {
  width: 40px;
  height: 40px;
}

.profilePic {
  width: 60px;
  margin: auto;
}

.header {
  position: relative;
  .menuBtn {
    position: absolute;
    transform: translateY(-50%);
    right: -15px;
    top: 50%;
  }
}
